.aboutme {
  display: flex;
  justify-content: space-between; 
  text-align: center;
  color: white;
  background-color: transparent; 
}

.aboutme-content h1 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.aboutme-content .description, 
.aboutme-content .interest {
  font-size: 1.25rem;
  line-height: 1.8;
}