.home {
  text-align: center;
  animation: fadeIn 1s forwards;
}

.home h1 {
  font-size: 4rem;
}

.home p {
  font-size: 1.5rem;
  margin-top: 10px;
  color: #ddd;
}

.home-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
}

.home-container > section {
  flex: 1;
  min-width: 250px;
}